.bord {
	 border: 2px solid #00c0f3;
	 text-align: center;
	 border-radius: 10px;
	 background: white;
}
.bordtext {
	  text-align: center;
	  font-size: 27px;
 }
.kontaktistas {
	font-size: 16px;
	/*font-weight: bold;*/
	font-family: Roboto, Arial;
	color: white;
	line-height: 1.9;
}
.btnstas {
	background-color: #ffd318;
	border-color: #ffd318;
	color: #1c1c1c;
	font-family: Roboto, Arial;
}
.btnstas:hover {
	background-color: #ffb600;
	border-color: #ffb600;
	color: #1c1c1c;
}
.btnstas:focus {
	background-color: #ffb600;
	border-color: #ffb600;
	color: #1c1c1c;
}
.topstas {
    background-color: #00c0f3;
	height: 38px;
}
@media all and (max-width: 768px) {
	.topstas {background-color: #00c0f3;	height: 111px;}
}
.stastopdiv div {
	line-height: 2.4;
/*	padding: 2px;
	height: 34px;*/
}
.stasstopknopkadiv {
	line-height: 2.5 !important;
}
.stastopspan {
	line-height: 2.4;
}
.stasmid{
	margin-top: 34px;
	background-image: linear-gradient(to top,#ffffff,#eaf3fd);
}
@media all and (max-width: 768px) {
	.stasmid{margin-top: 111px; background-image: linear-gradient(to top,#ffffff,#eaf3fd);}
}
.staslogo {
	height: 37px;
}
.staszavodi{
	height: 63px;
}
.staszavodiv{
	text-align: center;
}
.stasmidh1 {
	font-size: 44px;
	text-align: center;
	font-family: Roboto, Arial;
}
.stasdivzakaz{
	border: 2px solid #00c0f3;
	background-color: #00c0f3;
	color: white;
	border-radius: 10px;
}
.stasformtext{
	font-size: 20px;
	font-family: Roboto, Arial;
	text-align: center;
	color: white;
}
.stasich1nefor {
	text-align: center;
	font-size: 34px;
	color: #00c0f3;
	font-weight: bold;
}
.stasichlisp {
	list-style-image: url("../ris/strelka4n.png");
	font-size: 22px;
	color: black;
}
.stasindex {
    z-index: 10000;
}
.diod {
	width: 150px;
}