/*div{
	border: 1px solid red;
}*/
.kontaktistas {
	font-size: 16px;
	/*font-weight: bold;*/
	font-family: Roboto, Arial;
	color: white;
	line-height: 1.9;
}
.btnstas {
	background-color: #ffd318;
	border-color: #ffd318;
	color: #1c1c1c;
	font-family: Roboto, Arial;
}
.btnstas:hover {
	background-color: #ffb600;
	border-color: #ffb600;
	color: #1c1c1c;
}
.btnstas:focus {
	background-color: #ffb600;
	border-color: #ffb600;
	color: #1c1c1c;
}
.topstas {
    background-color: #24ADED;
}
.stastopdiv div {
	line-height: 2.4;
/*	padding: 2px;
	height: 34px;*/
}
.stasstopknopkadiv {
	line-height: 2.5 !important;
}
.stastopspan {
	line-height: 2.4;
}
.stasmid{
	/*margin-top: 34px;*/
	background-image: linear-gradient(to top,#ffffff,#eaf3fd);
}
.staslogo {
	height: 100px;
}